{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/company/lista">Lista de empresas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes da empresa</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/company/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control" id="nomeExibicao" name="nomeExibicao"
                                    placeholder="Nome fantasia" value="{{ company.nome_fantasia }}" required>
                                <label for="nomeExibicao">Nome fantasia</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nomeLegal" name="nomeLegal"
                                    placeholder="Razão social" value="{{ company.razao_social }}" required>
                                <label for="nomeLegal">Razão social</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cnpj" name="cnpj"
                                    placeholder="CNPJ" value="{{ company.cnpj }}" required>
                                <label for="cnpj">CNPJ</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual"
                                    placeholder="Inscrição estadual" value="{{ company.inscricao_estadual }}">
                                <label for="inscricaoEstadual">Inscrição estadual</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="telefone" name="telefone"
                                    placeholder="Telefone" value="{{ company.telefone }}">
                                <label for="telefone">Telefone</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="E-mail" value="{{ company.email }}">
                                <label for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="endereco" name="endereco"
                                    placeholder="Endereço" value="{{ company.endereco }}">
                                <label for="endereco">Endereço</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="numero" name="numero"
                                    placeholder="Número" value="{{ company.numero }}">
                                <label for="numero">Número</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="bairro" name="bairro"
                                    placeholder="Bairro" value="{{ company.bairro }}">
                                <label for="bairro">Bairro</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cidade" name="cidade"
                                    placeholder="Cidade" value="{{ company.cidade }}">
                                <label for="cidade">Cidade</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="estado" name="estado"
                                    placeholder="Estado" value="{{ company.estado }}">
                                <label for="estado">Estado</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cep" name="cep"
                                    placeholder="CEP" value="{{ company.cep }}">
                                <label for="cep">CEP</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input class="form-check-label" type="checkbox" id="ativo" name="ativo" value="true" {% if company.ativo==1 %} checked {% endif %}>
                                    <label for="ativo">Ativo?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/company.js') }}
{% endblock %}
