{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/product/lista">Lista de produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do produto</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/product/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control" id="descricao" name="descricao"
                                    placeholder="Descrição do produto" value="{{ product.descricao }}" required>
                                <label for="descricao">Descrição</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="codigoBarras" name="codigoBarras"
                                    placeholder="Código de barras" value="{{ product.codigo_barras }}">
                                <label for="codigoBarras">Código de barras</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="sku" name="sku"
                                    placeholder="SKU" value="{{ product.sku }}">
                                <label for="sku">SKU</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="valorCusto" name="valorCusto"
                                    placeholder="Valor de custo" value="{{ product.valor_custo }}">
                                <label for="valorCusto">Valor de custo</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="valorVenda" name="valorVenda"
                                    placeholder="Valor de venda" value="{{ product.valor_venda }}">
                                <label for="valorVenda">Valor de venda</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="estoque" name="estoque"
                                    placeholder="Estoque" value="{{ product.estoque }}">
                                <label for="estoque">Estoque</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input class="form-check-label" type="checkbox" id="ativo" name="ativo" value="true" {% if product.ativo==1 %} checked {% endif %}>
                                    <label for="ativo">Ativo?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/product.js') }}
{% endblock %}
